body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 50px;
    
    
}
*{
    
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-family: 'Hanken Grotesk', sans-serif;
}
p{
    color: darkgray;
    font-size: 15px;
}
.container{
    display: flex;
    background:linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(221, 100%, 96%));
    width: 400px;
    height: 350px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
}

.left{
        display: flex;
        border-radius: 20px;
        height: 100%;
        width: 200px;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
      }

.right{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    height: 100%;
    width: 200px;
    align-items: center;
}
.score{
    

    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}


.score-container{
    
    padding: 10px;
    margin: 1px;
}
h1{
    padding: 10px;
}
h3{
    color: #fff;
    padding: 5px;
}
.summary{
    border-radius: 10px;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
}
span{
    color: black;
    font-size: 15px;
}
.scoreOf100{
    color: darkgray;
    display: flex;
    gap: 1px;
}
.summary-container{
    display: flex;
    margin: 10px;
    
}
.reaction{
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
    
}
.memory{
    
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
    
}
.verbal{
    
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.1);
}
.visual{
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.1);
}
button{
    border-radius: 20px;
    width: 150px;
    border:none;
    padding: 10px;
    color: white;
    background:hsl(224, 30%, 27%);
}
@media screen and (max-width: 450px){
    .container{
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100vw;
        
}
body{
    margin: 0;
    padding: 0;
}

    .left{
    justify-content: space-evenly;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 100vw;
    margin: 0;
    padding: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .right{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 100vw;
    
}
}
  